/* .item
{
    overflow:hidden;
    transition:flex 0.3s ease-out;
    height:3rem;
   flex:1;
} */

/* .item.removed{
    flex:0;
} */

td {
    white-space: nowrap;
}

.input-title{
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}

#checkbox{
    margin-top:15px;
}






